body{
	font-family: Arial, Verdana, Helvética;
	text-align: center;
}

.nombrecorto {
	font-weight: bold;
	font-size:1.5em;
}

.nombrelargo{
	font-style: italic;
	
}

.hora{
	font-size:0.8em;
}

.caja, .caja2 {
	width:200px;
	border: 1px solid black;
	padding:10px;
	margin:10px;
	
}


.profesor1{
	background-color:blue;
	color:white;
	border-color:red
}

.profesor2{
	background-color:green;
	border-color:green;
	clor:black;
	
}

/*Contendor*/
article{
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	width:1000px;
	weight:800px;
	background:grey;
	align-content:flex-end;
	
	border: 1px solid black;
	
	

}

