*{
	margin:0 auto;
}


body{
	width:1100px;
	font-family: 'Open Sans',Arial;
	font-size:11pt;
	line-height:1.2em;
}


header{
	
	width:100%;
}


nav {
	width:100%;
	background-color: black;
    display: block; 
	float:left;
	color:white;
	margin-top:5px;
	margin-bottom:5px;
	
}

nav ul {
    list-style-type: none; 
    
}

nav ul li {
	padding:10px;
	float:left;
    margin-right: 40px;
	font-weight:bold;
	 
}

nav ul li a {
    text-decoration: none; 
    color: white; 
}

nav ul li:hover{
	background-color:white;
	color: black;
}


nav ul li a:hover {
    color: black;
background-color:white;
	
}

section{
	float:left;
	width:800px;
	margin-right:20px;
}

section article header h1{
	background-color:black;
	color:white;
	padding:10px;
	
}

section article figure img{
	margin-bottom:10px;
}


section article{
	width:800px;
	border: 1px solid black;
	padding:5px;
	margin-bottom:10px;
	background-color:#eaeaea;
	
	
	
}
aside{
	float:left;
	width:260px;
	border: 1px solid black;
	background-color:#eaeaea;
	padding:5px;
	
}


section article p{
	margin-top:5x;
	margin-bottom:10px;
	color:#5b5754;
	
}



aside img{
	margin-left:20px;
	margin-top:10px;
	margin-bottom:10px;
}

aside header h1{
	background-color:black;
	color:white;
	padding:10px;
	text-align:center;
}



aside p{
	color:#5b5754;
	font-size:0.9em;
	text-align:left;
	margin-left:10px;
	margin-bottom:5px;
}


footer{
	margin-top:5px;
	float:left;
	clear:both;
	width:98.3%;
	background-color:black;
	color:white;
	padding:10px;
	text-align:center;
	font-size:0.8em;
}
	
/* multimedia*/


#videos{
	width:1100px;
}



.recuadrosVideos{
	width:33%;
	float:left;	
	text-align:center;
	margin-top:20px;
	margin-bottom:20px;
	
}

.recuadrosVideos h4{
	margin-bottom:5px;
}



/*horario*/

#horario{
	width:100%;
	
}

section table caption{
	background-color:black;
	color:white;
	padding:7px;
	text-align:center;
	font-weight:bold;
	
}

section table{
	width:100%;
	text-align:center;
	background-color:#eaeaea;
	border:1px double black;
	margin-bottom:5px;
	
}

section table th{
	border:1px double black;
	color:#5e6265;
}

section table tr{
	border:1px double black;
	color:#5e6265;
}

section table td{
	border:1px double black;
	color:#5e6265;
}


/*Formulario*/


section article header h3{
	background-color:black;
	color:white;
	padding:10px;
	font-weight:lighter;
	margin-bottom:10px;
}

section article form{
	padding:10px;
}

#correo{
	height:30px;
	
}

#comentarios{
	position: relative; left: -5px;
}



#enviar{
	width:25%;
	height:40px;
	box-shadow: 2px 2px 2px grey;
}

#aside{
	background-color:black;
	border-radius:5px;
	margin-left:15px;
	padding:0px;
	
	
}

#aside p{
	color:white;
	margin-bottom:7px;
	margin-top:7px;
	
	
}


#logos {
	height:45px;
	
	
}

#facebook{
	position: relative; left: -15px;
}

#twitter{
	position: relative; left: -30px;
}


#fot_contacto{
	margin-top:-5px;
}