*{
	margin:0 auto;
}


body{
	width:800px;
	font-family:Arial;
	font-size:11pt;
}


header{
	background-color:black;
	color:white;
	width:100%;
}


nav {
    background-color: #f8f8f8; /* Color de fondo opcional */
}

nav ul {
    list-style-type: none; /* Eliminar las viñetas */
    padding: 0; /* Eliminar el padding */
    margin: 0; /* Eliminar el margen */
    display: flex; /* Usar flexbox para alinear horizontalmente */
}

nav li {
    margin-right: 20px; /* Espaciado entre los elementos de la lista */
}

nav a {
    text-decoration: none; /* Eliminar el subrayado de los enlaces */
    color: #333; /* Color del texto */
}

nav a:hover {
    color: #007BFF; /* Color del texto al pasar el ratón */
}
