*{
	margin:0 auto;
}

body{
	font-family: Arial, Verdana, Helvética;
	width:900px;
	font-size:11pt;
}

h1{
	font-size:1.6em;
	font-family:'Ubuntu';
}

h2{
	font-size:1.6em;
	font-family:'Ubuntu';
}

header{
	width:100%;
	text-align:center;
	line-height:2em;
	letter-spacing:1pt;
	background-color:#317b60;
	color:#b2b2b2;
}

section{
	width:680px;
	margin-right:20px;
	float:left;
}

section article{
	width:680px;
	background-color:#4fc79b;
	border:1px solid #317b60;
	padding:6px;
	margin-bottom:4px;
	margin-top:4px;
}

section article header{
	width:672px;
	text-align:left;
	letter-spacing:0px;
	padding:4px;
	background-color:#307a5f;
	color:#ced8d8;
	
}

section article figure{
	float:left;
	margin:10px 10px 0px 0px;
}

p{
	margin:10px 5px;
}

section article figcaption{
	text-align:center;
	font-size:1em;
	
}

aside{
	float:left;
	width:180px;
	background-color:#307a5f;
	color:white;
	margin-top:4px;
	padding:4px 8px;
	margin-left:4px;
}

footer{
	
	clear:both;
	background-color:black;
	width:100%;
	color:white;
	padding:8px;
	text-align:center;
}

/*barra de navegación*/

nav{
	width:100%;
	color:#ced8d8;
	background-color:#317b60;
	float:left;
	margin-bottom:5px;
}

nav ul{
	list-style:none;
}

nav ul li{
	display:block;
	float:left;
	padding:10px;
}

nav ul li a{
	text-decoration:none;
	color:#4fc79b;
	font-weight:bold;
	padding:10px;
}

nav ul li:hover, nav ul li a:hover{
	background-color:#4fc79b;
	color:#ced8d8;
	text-transform:uppercase;
	
}
