*{
	margin:0 auto;
} 

body{
	width:900px;
	font-family: Arial, Verdana, Helvética;
	text-align:center;
	
}

header{
	background-color:black;
	color:white;
}
nav ul{
	list-style:none;
	text-align:center;
	padding:0;
}
	
nav ul li{
	display: block;
	float:left;
	padding: 6px 10px;
	margin-bottom: 4px;
	margin-top:4px;
	margin-right:8px;
	
}

nav ul li a{
	text-decoration:none;
	text-transform:uppercase;
	font-family: Arial;
	font-weight: bold;
	color:black;
}

nav ul li:hover, nav ul li a:hover {
	color:white;
	background:black;
}



section{
	width:600px;
	float:left;
}

section article{
	width:600px;
	background-color:green;
	text-align:center;
	padding:8px;
	
}

section article figure{
	float:left;
	
}

section article figcaption{
	padding:4px;
	font-size:bold;
}



aside{
	width:280px;
	float:left;
	background-color:black;
	color:white;
	margin-left:14px;
	padding:3px;
}


footer{
	clear:both;
	background-color:black;
	color:white;
	padding:8px;
}