*{
	margin:auto;
}

body{
	font-family: Arial, Verdana, Helvética;
}

.cabecera{
	width:900px;
	margin:auto;
	text-align:center;
	color:white;
	background-color:black;
	padding:4px;
	margin-bottom: 4px;
}

nav ul{
	width: 900px;
	list-style: none;
	text-align:center;
	padding:0;
	
}

nav ul li {
	display: block;
	float:left;
	
	padding: 6px 10px;
	margin-bottom: 4px;
	margin-top:4px;
	margin-right:8px;
	border-top: 1px solid green;
	border-bottom: 3px solid green;
}

nav ul li a{
	text-decoration: none;
	font-family: Arial;
	font-weight: bold;
	text-transform:uppercase;
	color:green;
	padding:4px;
}

nav ul li:hover, nav ul li a:hover {
	color:white;
	background:green;
}

section{
	
}